<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register</title>
</head>
<body>
    <div id="login-box">
        <h1>Sign Up</h1>
        <form method="post" action="/register">
            <div class="input-field" id="username-div">
                <label for="username">Username</label>
                <input type="text" name="username" title="password" autofocus>
            </div>
            <div class="input-field" id="email-div">
                <label for="password">Email</label>
                <input type="email" name="email" title="email">
            </div>
            <div class="input-field" id="password-div">
                <label for="password">Password</label>
                <input type="password" name="password" title="password">
            </div>
            <div class="input-field" id="reenter-password-div">
                <label for="reenter-password">Re-enter Password</label>
                <input type="password" name="reenter-password" title="reenter-password">
            </div>
            <button class="submit">Signup</button>
            <span>Already have an account? <a href="/register">Login</a></span>
        </form>
    </div>

</body>
</html>